<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Motors manager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../../Views/Pages/marcaCrud.html">Marca</a>
                        <a class="dropdown-item" href="../../Views/Pages/modeloCrud.html">Modelo</a>
                        <a class="dropdown-item" href="../../Views/Pages/veiculoList.html">Veículo</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main" class="container-fluid">
        <h3 class="page-header">Cadastro de Anúncio</h3>
        <hr />
        <form action="veiculoList.html">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="selectMarca">Marca</label>
                    <select class="custom-select" id="selectMarca" name="selectMarca" required autofocus>
                        <option value = "" selected>Selecione...</option>
                        <option value="1">Marca 1</option>
                        <option value="2">Marca 2</option>
                        <option value="3">Marca 3</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="selectMarca">Modelo</label>
                    <select class="custom-select" id="selectModelo" name="selectModelo" required autofocus>
                        <option value="" selected>Selecione...</option>
                        <option value="1">Modelo 1</option>
                        <option value="2">Modelo 2</option>
                        <option value="3">Modelo 3</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-1">
                    <label for="inputAnoFabricacao">Ano Fabricação</label>
                    <input type="number" class="form-control" id="inputAnoFabricacao" placeholder="Ano..." required autofocus>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAnoModelo">Ano Modelo</label>
                    <input type="number" class="form-control" id="inputAnoModelo" placeholder="Ano..." required autofocus>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCor">Cor</label>
                    <input type="text" class="form-control" id="inputCor" placeholder="Digite a cor..." required autofocus>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputMotor">Motor</label>
                    <input type="text" class="form-control" id="inputMotor" placeholder="Motor..." required autofocus>
                </div>

                <div class="form-group col-md-6">
                    <label for="selectCombustivel">Combustível</label>
                    <select class="custom-select" id="selectCombustivel">
                        <option selected>Selecione...</option>
                        <option value="1">Diesel</option>
                        <option value="2">Etanol</option>
                        <option value="3">Flex</option>
                        <option value="4">Gasolina</option>
                        <option value="5">GNV</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="inputValorVenda">Valor venda</label>
                    <input type="number" class="form-control" id="inputValorVenda" placeholder="0,00">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputValorCompra">Valor compra</label>
                    <input type="email" class="form-control" id="inputValorCompra" placeholder="0,00">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputDataVenda">Data da venda</label>
                    <input type="date" class="form-control" id="inputDataVenda" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="textObservacoes">Observações</label>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Gravar</button>
                    <a href="veiculoList.html" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>


</html>

